.header {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  box-shadow: 0 1px 4px 0 rgba(50, 52, 56, 0.12);

  .logo {
    position: relative;
    height: 31px;
    width: 62px;
    border-radius: 0.25rem;
    border: 1px solid #007bff;
    cursor: pointer;

    &:before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      content: 'Logo';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      color: #007bff;
    }
  }
}